.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
build-extension.ps1
build-extension.sh
TESTING.md
.github/**
**/.DS_Store